* {
    color: rgb(4, 4, 94);
    font-family: "Brush Script MT", "Lucida Handwriting";
    box-sizing: border-box;
}

body.page-body {
    margin: 0 200px;
    padding: 0 50px;
}

div.container {
    width: 1200px;
    padding: 10px;
    margin-top: 10px;
    margin-left:  30px;
    margin-right: 30px;
}

p.first-para {
    margin: 20px 0;
}

.container .first-para {
    color: rgb(3, 3, 3);
    font-size: 24px; 
}

.first-para em {
    color: rgb(3, 3, 3);
}

h1 {
    text-align: center;
    margin: 35px;
}

ul {
    font-size: 22px;
    margin: 10px 20px;
    margin-bottom: 25px;
    padding: 10px;
}

.photo {
    height: auto;
    width: 75%;
    display: block;
    margin-bottom: 10px; 
    margin-left: auto;
    margin-right: auto;
}

.caption {
    color: rgb(107, 104, 104);
    text-align: center;
    font-size: 16px;
    margin-left: 50px;
    margin-bottom: 0px;
    padding: 7px;

}

.caption em {
    color: rgb(107, 104, 104);
}

li {
    margin-bottom: 20px;
}

.spaghetti-link {
    color: rgb(190, 14, 14);
    margin-bottom: 10px;
}

.lumpia-link {
    color: rgb(182, 134, 14);
    
}

.chicken-adobo-link {
    color: brown;
    
}

.back-top {
    background-color: rgb(245, 209, 5);
    color: white;
    font-size: 17px;
    padding: 8px;
    text-decoration: none;
    margin-left: 40px;
    margin-bottom: 40px;
}



