* {
    font-family: "Brush Script MT", "Lucida Handwriting";
    background-color: rgb(238, 238, 192);
}

h1 {
    color: brown;
    text-align: center;
}

p {
    font-size: 26px;
}

ul {
    font-size: 22px;
}

ol {
    font-size: 22px;
}

.chicken-img {
    height: auto;
    width: 900px;
}

.buttons {
    color: rgb(4, 4, 94);
    font-size: 17px;
}

.heads {
    color: brown;
}